* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;

}

/* body {
  position: relative;
} */

.container {
  position: relative;
  width: 100%;
  transition: 1s all linear;
}

.section {
  position: sticky;
  top: 0%;
  height: auto;
  width: 100%;
  background-color: #333;
}

.about,
. .section:nth-child(2) {
  background-color: #fff;
}

.about .innerSection {
  background: #fff;
}

.innerSection {
  position: relative;
  width: 80%;
  height: auto;
  background: url(https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png),
    linear-gradient(0deg, rgb(0, 109, 143), rgb(0, 192, 250), rgb(81, 214, 255));
  background-blend-mode: soft-light;
  border-radius: 2px;
  margin: auto;
}

.intro .innerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  padding: 50px;
}

.profile-pic {
  height: auto;
  width: 15%;
  box-shadow: 0px 0px 5px rgba(20, 17, 17, 0.4);
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(20, 17, 17, 0.8);
}

.name {
  font-size: 4.5vw;
  font-family: Roboto mono;
  letter-spacing: 5px;
  text-align: center;
  background: linear-gradient(to right,
      rgb(2, 104, 172),
      rgb(0, 47, 92),
      rgb(1, 119, 197));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.profession {
  font-size: 2vw;
  font-family: Roboto mono;
  color: white;
}

.buttons {
  width: 60%;
  margin: 20px auto;
  margin-bottom: 0px;
  display: flex;
}

.buttons div {
  flex: 4;
}

#btnHireMe,
#getCv {
  flex: 1;
  width: auto;
  padding: 8px 10px;
  border: 3px solid white;
  border-radius: 8px;
  background: linear-gradient(0deg, rgb(61, 0, 141), rgb(44, 53, 167));
  color: white;
}

.links {
  width: 100%;
  display: flex;
  font-family: Roboto mono;
  font-weight: bold;
}

.links li {
  flex: 1;
  text-align: center;
  padding: 10px 0px;
  font-size: 1vw;
  font-weight: normal;
  background-color: rgb(0, 119, 255);
  border: 1px solid white;
  border-top: none;
}

.links li:hover {
  color: white;
}

.links li:active {
  color: white;
}