* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  background: url(https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png), rgba(255, 255, 255,0.9);
  background-blend-mode: soft-light;
}

.section {
  min-height: 200px;
  width: 60%;
  margin: auto;
  background-color: transparent;
  background-blend-mode: soft-light;
  border-radius: 3px;
}

/*  /////////////////////////   */
.hobbies {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 5px 40px 5px;
}

.hobbies h2 {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
  text-align: center;
}

.activities {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.actGrp1,
.actGrp2 {
  display: flex;
}

.activity {
  position: relative;
  flex: 1;
  min-height: 180px;
  min-width: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Nunito Sans', sans-serif;;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 100ms linear;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}


.activity img{
  height: 100%;
  width: 100%;  
  filter: opacity(0);
}


.activity1 {
  transition: all 200ms linear;
  background-image: url(../assets/badminton.webp);
  background-size: cover;
  background-position: center;
  font-weight: bolder;

}  

.activity2 {
  transition: all 200ms linear;
  background-image: url(../assets/travelling.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bolder;
}  

.activity3 {
  transition: all 200ms linear;
  background-image: url(../assets/basketball.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bolder;
}  

.activity4 {
  transition: all 200ms linear;
  background-image: url(../assets/cooking.jpg);
  background-size: cover;
  background-position: fixed;
  font-weight: bolder;
}  




.activity:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.7);
}

/*  /////////////////////////   */

/* .projects {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 117, 153);
  padding: 30px 0px 30px 0px;
  
  
}

.projects h2 {
  font-family: 'Nunito Sans', sans-serif;;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.prj-container {
  width: 100%;
  height: 200px;
  padding: 0px 20px;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: all 200ms ease-in-out;
}

.prjImg {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.prjImg .prjName {
  font-family: "Baloo Bhai 2";
  color: white;
  font-size: 20px;
}

.prjImg .prjPic {
  margin: 0px auto;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
}

.prjPic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(0, 20, 85);
  font-weight: bold;
  font-size: 24px;
}

.prjDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 40px 20px;
}

.prjDesc span {
  flex: 3;
  font-family: 'Nunito Sans', sans-serif;;
  color: whitesmoke;
}

.prjDesc button {
  padding: 4px 8px;
  margin: 5px;
  margin-left: 0px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

.prjDesc button a{
  font-family: 'Nunito Sans', sans-serif;
  color: white;

} */

.gayab {
  opacity: 0;
  transition: all 200ms linear;
}

.skillss {
  margin-top: 10px;
  background-color: rgb(0, 117, 153);
  padding: 20px;
}

#skills h2{
  color: white;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 60px;
  

}

.skills .left,
.skills .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  height: auto;
}

.skills .left>*,
.skills .right>* {
  max-height: 280px;
  width: 300px;
  background-color: transparent;
  margin: 10px;
  padding: 0px 0px 10px 0px;
  overflow-y: scroll;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.skillss h2 {
  font-family: 'Nunito Sans', sans-serif;;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: 600;
  color: #fff;


}

.skill {
  position: relative;
  background-color: transparent;
}

.skill h3 {
  font-family: 'Nunito Sans', sans-serif;;
  letter-spacing: 3px;
  color: #fff;
  margin: 0px 0px 20px 0px;
  text-align: center;
  padding: 5px 0px;
  position: sticky;
  background-color: #000;
  top: 0%;
  z-index: 1;
}

.skill .name {
  color: #222;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

.level {
  /* flex: 1; */
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.percentage {
  /* border-radius: 2px; */
  width: 90%;
  display: flex;
  overflow: visible;
  align-content: center;
  background-color: #888;
  margin-bottom: 18px;
  border-radius: 10px;
}

.percentage .bar .buttonBar {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 145, 0);
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
}

.bar {
  height: 5px;
  width: 0%;
  background-color: rgb(255, 145, 0);
  position: relative;
  border-radius: 10px;
}


/*Contact me*/

.contact {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

.contact h2 {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  color: rgb(0, 21, 66);
  font-weight: bold;
}

.contact h4 {
  font-family: 'Architects Daughter', cursive;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  color: rgb(0, 21, 66);
  font-weight: normal;
  font-weight: bold;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form input {
  padding: 5px;
  width: 250px;
  margin: 5px auto;
  font-size: 18px;
  text-align: center;
  font-family: "Baloo Bhai 2";
  border-radius: 5px;
  border: 2px solid rgba(0, 68, 255, 0.8);
}

.contact form textarea {
  padding: 5px;
  font-size: 18px;
  width: 250px;
  height: max-content;
  margin: 5px auto;
  text-align: center;
  font-family: "Baloo Bhai 2";
  border-radius: 5px;
  border: 2px solid rgba(0, 68, 255, 0.8);
}



::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(0, 0, 0);

}

/* ::-webkit-scrollbar-button {
  width: 9px;
  height: 0px;
  margin: auto;
  background-color: rgb(255, 255, 255);
} */

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(196, 196, 196);
}

#github {
  background-image: url(../assets/icons8-github-50.png);
  background-size: cover;
  background-position: center;
}

#codepen {
  background-image: url(../assets/icons8-codepen-50.png);
  background-size: cover;
  background-position: center;
}

#dribbble {
  background-size: cover;
  background-position: center;
  background-image: url(../assets/icons8-dribbble-old-logo-50.png);
}

#github:hover,
#codepen:hover,
#dribbble:hover {
  transform: scale(1.5);
  transition: all 100ms ease-in;
}

.social-links {
  text-align: center;
  padding: 20px 20px 0px 20px;
}

.social-links li {
  display: inline-block;
  margin: 0px 20px;
  height: 30px;
  width: 30px;
  transition: all 100ms ease-in;
  border-radius: 50%;
}

.footer {
  margin-bottom: 0px;
  font-family: "Baloo Bhai 2";
  color:white;
  background-color: transparent;
  padding: 20px 0px 0px 0px;
}

.footer ul{
  width: 30%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer ul li{
  display: grid;
  grid-template-columns: 150px max-content 150px;
  align-items: center;
  justify-content: center;
}

.footer ul li .line{
  height: 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer ul li a{
color: rgb(0, 75, 75);
text-transform: uppercase;
font-weight: bold;
}
.footer ul li a:hover{
text-decoration: underline;
color: rgb(255, 95, 95);
}

.copyright {
  font-size: 14px;
  color:black;
  padding: 0px;
  text-align: center;
  padding-top: 10px;
}

.cntct-form input[type="submit"] {
  background-color: rgb(0, 87, 114);
  color: whitesmoke;
  border: none;
}




/* EDUCATION */

.education {
  position: relative;
  margin-top: 10px;
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.leftArr,
.rightArr {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../assets/arrow.png);  
  background-position: center;
  background-size: cover;
}


.rightArr {
  top: 50%;
  left: 100%;
  transform: translateX(-100%) rotate(180deg);
}
.leftArr {
  top: 50%;
  left: 0%;
  /* transform: rotate(180deg); */
}

.edu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 40px;
  transition: all 300ms linear;
}
.edu img{
  /* margin-bottom: 30px; */
} 

.edu-animate {
  opacity: 0;
  /* margin-right: 80px; */
  transition: all 400ms linear;
}



#duration {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Nunito Sans', sans-serif;;
  margin-bottom: 20px;
  text-align: center;
}

#course {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;;
  text-align: center;
  
}

#institute {
  
  font-size: 24px;
  letter-spacing: 1px;
  margin: 5px 0px;
  font-weight: bold;
  font-family: "Nunito Sans";
  text-align: center;
}

#location {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Nunito Sans";
  text-align: center;
}