@media only screen and (max-width:800px) {

    .innerSection {
        width: 100%;
    }

    .buttons {
        width: 60%;
    }

    .buttons div {
        flex: 3;
    }

    .name {
        font-size: 40px;
    }

    .profession {
        font-size: 20px;
    }

    .links {
        font-size: 10px;
    }

    #btnHireMe,
    #getCv {
        flex: none;
        padding: 3px 5px;
    }

}