@media only screen and (max-width:800px) {

    .section {
        width: 100%;
    }

    .innerSection {
        width: 100%;
    }

    .buttons {
        width: 100%;
    }

    .buttons div {
        flex: 1;
    }

    .name {
        font-size: 40px;
    }

    .profession {
        font-size: 20px;
    }

    .links {
        font-size: 10px;
    }

    .links li {
        height: 30px;
    }

    #btnHireMe,
    #getCv {
        flex: 2;
    }

    .links li {
        font-size: 10px;
        /* font-weight: 500; */
    }

    .profile-pic {
        height: 100px;
        width: 100px;
    }

    .activities {
        flex-direction: column;
    }

    .activity {
        margin: 0px 5px;
        min-height: 150px;
        min-width: 150px;
    }

    .actGrp1 {
        padding-left: 40px;
    }

    .actGrp2 {
        padding-right: 40px;
    }
}


@media only screen and (max-width:400px) {
    .activities {
        flex-direction: column;
    }

    .links li a:hover {
        transition: all 200ms linear;
        color: rgb(0, 55, 71);
        font-size: 12px;
    }
}