@media only screen and (max-width:800px) {

    .section {
        width: 100%;
    }

    .innerSection {
        width: 100%;
    }

    .buttons {
        width: 100%;
    }

    .buttons div {
        flex: 1;
    }

    .name {
        font-size: 40px;
    }

    .profession {
        font-size: 20px;
    }

    .links {
        font-size: 10px;
    }

    #btnHireMe,
    #getCv {
        flex: 2;
    }

    .links li {
        font-size: 10px;
        /* font-weight: 500; */
    }

    .profile-pic {
        height: 100px;
        width: 100px;
    }

}